---
import { Astro } from 'astro';
import { dataList } from '../../utils/data';
import '~/styles/dataset.css';
import Layout from '~/layouts/LandingLayout.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/navigation';
import RightSection from '~/components/dataset/RightSection.astro';
import Tags from '~/components/dataset/Tags.astro';
import DescriptionSection from '~/components/dataset/DescriptionSection.astro';
import Tabs from '~/components/dataset/Tabs.astro';
// import { BibtexParser } from 'bibtex-js-parser';
import { getCollection } from 'astro:content';

const posts = await getCollection('data');
export async function getStaticPaths() {
  return dataList.map((data) => ({
    params: { id: data.id },
  }));
}

const { id } = Astro.params;
const dataItem = dataList.find((data) => data.id === id);
function findIndexById(id) {
  return posts.findIndex((item) => item.slug === id.toLowerCase());
}
const index = findIndexById(id);
const { body } = posts[index];
const { bibtex, tags, author, title, image, journal, code_url } = posts[index].data;
// let content = '';
// if (dataItem) {
//   const filePath = path.resolve(`../..//src/content/data/${id}.md`);
//   try {
//     content = fs.readFileSync(filePath, 'utf-8');
//   } catch (error) {
//     console.error(`Failed to read file at ${filePath}:`, error);
//   }
// }
const getImagePath = (filePath: string) => {
  if (filePath.startsWith('~')) {
    return filePath.replace('~/', '/src/');
  }
};
const authors = author.split(' and ').map((item) => ({
  avatar: 'https://img.ixintu.com/download/jpg/20200910/f9256155491e54bf5e99bf29eece0156_512_512.jpg!ys',
  name: item,
}));
const paperLinks = {
  url: journal.url,
  text: journal.title,
};

const text = body;

const metadata = {
  title: 'Dataset',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky showToggleTheme />
  </Fragment>

  <div>
    <div class="figureContainer">
      <!-- <img src="/src/assets/images/dataset/SALAD-Bench.png" class="figure" /> -->
      <img src={image} class="figure" />
    </div>
    <div class="border-b-4 pb-4 ml-16 mr-16 mb-0">
      <center>
        <h2 class="datasetName">
          {title.title}
        </h2>
        <div class="title-link-container">
          <a href={journal.url} target="_blank">
            <div>
              <svg
                t="1719987767504"
                class="icon"
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                p-id="3133"
                width="200"
                height="200"
                ><path
                  d="M736.529067 707.447467L513.911467 730.453333a19.387733 19.387733 0 0 1-4.437334 0l-222.0032-22.9376A53.521067 53.521067 0 0 1 232.106667 655.906133V331.434667A53.521067 53.521067 0 0 1 287.470933 279.893333l223.982934 23.005867a24.098133 24.098133 0 0 0 4.437333 0L736.529067 279.893333a53.521067 53.521067 0 0 1 55.364266 51.541334v324.471466a53.521067 53.521067 0 0 1-55.364266 51.541334z"
                  fill="#8DD1FF"
                  p-id="3134"></path><path
                  d="M818.653867 177.493333a37.2736 37.2736 0 0 0-3.8912 0l-303.5136 44.100267-302.011734-43.758933a37.2736 37.2736 0 0 0-3.8912 0C148.616533 177.493333 102.4 220.637867 102.4 273.544533v432.605867c0 52.224 45.056 94.890667 100.829867 95.573333L504.6272 846.506667a37.2736 37.2736 0 0 0 3.959467 0h3.413333a26.692267 26.692267 0 0 0 8.123733-1.365334l300.373334-43.008c55.842133-1.024 100.898133-43.6224 100.898133-95.573333V273.544533C921.6 220.637867 875.383467 177.493333 818.653867 177.493333z m-613.307734 570.026667c-26.624 0-48.3328-18.568533-48.3328-41.3696V273.544533c0-22.3232 20.48-40.5504 46.557867-40.96L484.693333 273.066667v515.072l-275.387733-40.209067a25.736533 25.736533 0 0 0-3.959467-0.4096z m661.640534-41.3696c0 22.801067-21.7088 41.3696-48.3328 41.3696a24.849067 24.849067 0 0 0-3.8912 0L539.306667 787.114667V273.066667l281.122133-40.96c25.8048 0.750933 46.557867 18.978133 46.557867 40.96z"
                  fill="#333333"
                  p-id="3135"></path></svg
              >
              Paper
            </div>
          </a>
          <a href={title.url} target="_blank">
            <div>
              <svg
                t="1719987846556"
                class="icon"
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                p-id="3298"
                width="200"
                height="200"
                ><path
                  d="M403.387733 575.8976L505.173333 160.290133a21.777067 21.777067 0 0 1 39.185067-6.826666l141.243733 210.670933a22.664533 22.664533 0 0 0 6.280534 6.212267l194.3552 125.883733a21.777067 21.777067 0 0 1-8.669867 39.799467l-449.809067 66.56a21.777067 21.777067 0 0 1-24.3712-26.692267z"
                  fill="#8DD1FF"
                  p-id="3299"></path><path
                  d="M828.757333 181.725867a53.725867 53.725867 0 0 0-62.327466-9.0112l-604.023467 293.546666a60.484267 60.484267 0 0 0-34.133333 60.8256 50.449067 50.449067 0 0 0 39.594666 44.032l229.649067 51.063467 43.2128 217.019733a50.517333 50.517333 0 0 0 43.6224 40.96A66.423467 66.423467 0 0 0 491.52 880.64a60.689067 60.689067 0 0 0 54.203733-34.816l292.181334-601.429333a53.725867 53.725867 0 0 0-9.147734-62.6688z m-332.322133 639.863466a7.509333 7.509333 0 0 1-3.072 3.4816L450.56 609.211733a50.653867 50.653867 0 0 0-38.980267-39.936L182.818133 518.826667a7.645867 7.645867 0 0 1 3.4816-3.208534l600.746667-291.84z"
                  fill="#333333"
                  p-id="3300"></path><path
                  d="M414.583467 622.592a27.306667 27.306667 0 0 1-19.319467-46.626133l161.041067-161.041067a27.306667 27.306667 0 0 1 38.570666 38.638933L433.834667 614.4a27.306667 27.306667 0 0 1-19.2512 8.192z"
                  fill="#333333"
                  p-id="3301"></path></svg
              >
              Redirect
            </div>
          </a>
          <a href={code_url} target="_blank">
            <div>
              <svg
                t="1719987174013"
                class="icon"
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                p-id="6884"
                width="200"
                height="200"
                ><path
                  d="M273.066667 238.933333m49.834666 0l385.024 0q49.834667 0 49.834667 49.834667l0 330.410667q0 49.834667-49.834667 49.834666l-385.024 0q-49.834667 0-49.834666-49.834666l0-330.410667q0-49.834667 49.834666-49.834667Z"
                  fill="#8DD1FF"
                  p-id="6885"></path><path
                  d="M785.749333 889.4464H238.250667a103.901867 103.901867 0 0 1-103.765334-103.765333V238.318933a103.901867 103.901867 0 0 1 103.765334-103.765333h547.498666a103.901867 103.901867 0 0 1 103.765334 103.765333v547.362134a103.901867 103.901867 0 0 1-103.765334 103.765333zM238.250667 189.166933a49.220267 49.220267 0 0 0-49.152 49.152v547.362134a49.220267 49.220267 0 0 0 49.152 49.152h547.498666a49.220267 49.220267 0 0 0 49.152-49.152V238.318933a49.220267 49.220267 0 0 0-49.152-49.152z"
                  fill="#333333"
                  p-id="6886"></path><path
                  d="M723.626667 327.68h-49.698134v-57.412267a27.306667 27.306667 0 0 0-54.613333 0V327.68H404.6848v-57.412267a27.306667 27.306667 0 0 0-54.613333 0V327.68H300.373333a27.306667 27.306667 0 0 0 0 54.613333h49.698134v59.392a27.306667 27.306667 0 0 0 54.613333 0V382.293333h214.6304v59.392a27.306667 27.306667 0 1 0 54.613333 0V382.293333H723.626667a27.306667 27.306667 0 0 0 0-54.613333zM723.626667 764.586667H300.373333a27.306667 27.306667 0 0 1 0-54.613334h423.253334a27.306667 27.306667 0 0 1 0 54.613334z"
                  fill="#333333"
                  p-id="6887"></path></svg
              >
              Code
            </div>
          </a>
        </div>
        <Tags tags={tags} />
      </center>
    </div>
    <div class="mainContainer">
      <div class="left-section">
        <Tabs />
        <DescriptionSection text={text} />
      </div>
      <div class="right-section">
        <RightSection links={paperLinks} authors={authors} bibtex={bibtex} />
      </div>
      <div style="flex:0.25"></div>
      <!-- 占位 -->
    </div>
  </div>
</Layout>
